/* Default styles for desktop */

body{
	margin: 0;
	padding: 0;
	position: absolute;
	background: url("bg003checkerboard.png");
	background-size: 100px;
	background-repeat: repeat;
	animation: slide 1.5s linear infinite;
	image-rendering: pixelated;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
}

.checkerboard{
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
	
}

@keyframes slide{
	0%{
		background-position: -100px -100px;
	}
	100%{
		background-position: 0px 0px;
	}
}

.title{
	color: white;
	font-size: 100px;
	text-align: center;
	font-family: 'Comic Sans MS';
	text-shadow: 5px 5px black;
}

.inventory{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.folder{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 12vw;
	margin-right: 12vw;
	margin-top: 5vw;
	margin-bottom: 5vw;
}

.folder img{
    height: 15vw;
	align-self: center;
		
	
}

.folder p{
	color: white;
	font-size: 1vw;
	text-align: center;
	font-family: 'Comic Sans MS';
	text-shadow: 3px 3px black;
}


